@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Roboto Slab', serif;}
.container1{
    background-color: #fafafa;
    height: 100%;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    
}
.avatar{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 0.6rem;
}
.flexrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.marginS{
    margin-left: 1.5rem;
}
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 820px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .mob-col{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }
  .marginS{
      margin: 0;
  }
  .mobmar{
    padding-right: 6rem;
  }
    
}